---
http_interactions:
- request:
    method: post
    uri: https://private-anon-254dee004e-coolpayapi.apiary-mock.com/api/login
    body:
      encoding: UTF-8
      string: '{"username":"Yann1","apikey":"6C5BC43B473975B8"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5b7c7826f5e65a0a001aacbe
    body:
      encoding: UTF-8
      string: |-
        {
            "token": "aff06fec-e041-4994-849e-223f0569e0bc"
        }
  recorded_at: Tue, 21 Aug 2018 20:37:58 GMT
- request:
    method: post
    uri: https://private-anon-254dee004e-coolpayapi.apiary-mock.com/api/recipients
    body:
      encoding: UTF-8
      string: '{"name":"John Doe"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - api_token
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5b7c7826f5e65a0a001aacbf
    body:
      encoding: UTF-8
      string: |-
        {
            "recipient": {
                "id": "e9a0336b-d81d-4009-9ad1-8fa1eb43418c",
                "name": "Jake McFriend"
            }
        }
  recorded_at: Tue, 21 Aug 2018 20:37:59 GMT
recorded_with: VCR 4.0.0
